/*Scrollbar*/
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background: #0E374D;
}

/*Menu Principal*/
.navbar-inverse {background-color: #0e364c;border-color: #0e364c;border-radius: 0px;height:50px;width:100%;position: fixed; z-index: 9999}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
color: #fff;background-color: #0e364c;}

.navbar-inverse .navbar-nav>li>a {color: #00BCD4;font-family: 'Open Sans', sans-serif;}

.menu { display:none;}

#botons-barra{
    display: none;
}



/*
    PLANTILLA STYLE
*/

.icono-barra{
    width: 25px;
    margin: 5px;
}

.barra{
    display: inline;

}

#img_logo{
    width: 150px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    background: rgb(14, 55, 77);
    color: #fff;
    transition: all 0.3s;
    height: 100%;
    margin-top:50px;
    z-index: 9999999;
    overflow-y: scroll;
    top: 0;
    bottom: 0;

}

#sidebar::-webkit-scrollbar{
    width: 7px;
    background: #0E374D;
}
#sidebar::-webkit-scrollbar-thumb {
    background: #0E374D;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;

}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(14, 55, 77);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 0.8em;
    width: auto;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    transition: all 0.3s;
    margin-top: 60px;
    margin-left: calc(21% - 25px);
}

.col-sm-12{
    border: 1px solid black;
    width: 100%;
}

.content_sidebar {
    margin-left: 10% !important;
    margin-top: 60px;
}

/* ---------------------------------------------------
    CARRITO
----------------------------------------------------- */
#div_carrito{
    width: 450px;
    top: 55px;
    right: 0px;
    margin-right: 5px;
    background-color: #0E364C;
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, #add356, #00dfa6, #ffcb52, #ff451f, #3dade9,#bf2fcb);
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: fixed;
    display: none;
    z-index: 9;
}

.num_productes{
   font-size: 15px;
   font-family: 'Gaegu', cursive;
   top: 10px;
   position: absolute;
}

.apartat_carrito{
  width: 90px;
}

.h1_carrito{
    color: white;
    font-family: 'Gaegu', cursive;
    text-align: center;
    border-bottom: 2px solid white;
}

.hr_carrito{
    color: white;
    border-bottom: 2px solid white;
    margin: 0px;
  }

.h3_carrito{
    color: white;
    font-family: 'Gaegu', cursive;
    text-align: center;
    margin-bottom: 10px;
}

.taula_carrito{
  color: white;
  font-family: 'Gaegu', cursive;
  text-align: center;
  font-size: 17px;
  border-color: white;
  width: 100%;
  border-right: 0px solid transparent;
  border-top: 0px;
  margin-top: -10px;
}

#total, .total_carrito{
  color: white;
  font-family: 'Gaegu', cursive;
  font-size: 25px;
  border-color: white;
  display: none;
  text-align: center;
}

#total{
  width: 300px;
  width: 100%;
  margin-top: 10px;

}

#btn_eliminarPesaCarrito{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 28px;

}

.foto_carrito{
  width: 35px;
  margin: 0 auto;
  margin-left: 5px;
}

.button{
  font-family: 'Gaegu', cursive;
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  margin: 7px;
  position: relative;
  color: #ecf0f1;
  height: 40px;
  width: 120px;
  cursor: pointer;
  text-align: center;
}

#btn_buidar_carrito{
  color: white;
  display: none;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
}

#btn_buidar_carrito:before{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

#btn_buidar_carrito:hover{
  color: #ecf0f1;
}

#btn_buidar_carrito:hover:before{
  left: 0;
}

#nom_usuari_ocult{
  display: none;
}

#btn_comprar_carrito{
  display: none;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
}

#btn_carrito{
    cursor:pointer;
    right: 10px;
}

#btn_comprar_carrito:before{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(50,205,50,1));
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#btn_comprar_carrito:hover{
  color: #ecf0f1;
}

#btn_comprar_carrito:hover:before{
  left: 0;
}

.img_tancar_carrito{
  cursor: pointer;
  width: 5%;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0px;
}

.img_tancar_carrito:hover{
  width: 6%;
}

/* ---------------------------------------------------
    LOGIN REGISTRE PARTICULES
----------------------------------------------------- */

#panell_login{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    display: none;
    font-weight: bold;
}
.panel-info>.panel-heading{
   background-color: rgb(14, 55, 77);
   color: white;
}
.panel-info{
    border-color: rgb(14, 55, 77);
}
#imatge_login{
    width: 20%;
    margin-bottom: 15px;
}
#btn_login{
    background-color: rgb(14, 55, 77);
}
#btn_tornar{
    background-color: #C70039;
    border-color: #C70039;
}
#btn_tornar:hover{
    background-color: #BA0808;
}
#btn_login:hover{
    background-color: #6d7fcc;
}
#panell_registre{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    display: none;
    font-weight: bold;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-color: rgba(216, 240, 247 ,.9);
}

.turntable {
  margin: 0px;
}
.turntable ul {
  padding: 0px;
  margin: 0px;
}
.turntable ul li {
  list-style-type: none;
  display: none;
}
.turntable ul li img {
  width: 100%;
}
.turntable ul li.active {
  display: block;
}

/* ---------------------------------------------------
    APARTAT NOVETATS
----------------------------------------------------- */

#novetats{
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    width: 90%;
}

#novetats_cos{
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
}

#novetats_esquerra{

    background-color: rgba(255, 255, 255, .8);
    z-index: -1;
}
#novetat_darrera{
    z-index: -1;
}
#novetats_dreta{
    background-color: rgba(255, 255, 255, .8);
    z-index: -1;
}

.negreta{
    font-size: 25px;
    display: block;
    width: 100%;
    text-align: center;
}

.hr{
    border: 2px solid red;
}
.hr_dreta{
    border: 0.5px solid #286090;
}
.foto_sidebar{
    width: 100%;
}
#tau_cal{ text-align: center; border-collapse: collapse;  width: 100%; margin-bottom: 10px;}
.td{ font-size: 15px; padding: 5px;}
.th{background-color: rgb(14, 55, 77); color:#FFFFFF;text-align: center;}

/* ---------------------------------------------------
    APARTAT HOME
----------------------------------------------------- */

.foto_home{
    width: 25%;
}

#cos_home{
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);
    margin-bottom: 25px;
    box-sizing: border-box;
}

.h1_home{
    text-align: center;
    font-weight: bold;
}

.tex_home{
    text-align: justify;
    font-size: 17px;
}

#elMeuCarousel{
    width: 100%;
    z-index: 2;
}

.images_home{
    text-align: center;
}

.col-md-2{
    text-align: center;
}

.img_home{
    width: 60px;
}

/* ---------------------------------------------------
    APARTAT PRIMER PERFIL
----------------------------------------------------- */

#cos_primerPerfil{
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
}

#foto{
    width: 140px;
    margin: 0 auto;
}

.col-2-edit{
    margin-bottom: 10px;
}

.input{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#color_pell{
    background-color: red;
    height: 20px;
    border-radius: 25px;
    width: 100%;

}

.opcio1{
    background-color: #CFE2F3;
    height: 200px;
}
.opcio2{
   background-color: #F4CCCC;
}

#color_1{
    margin-top: 10px;
}
#color_2{
    margin-top: 10px;
}
#div_pel{
    display: none;
}
#div_subestacio{
    display: none;
}

.check_amagat{
    margin: 5px auto;
    border: 2px solid #286090;
    padding: 5px;
}

#boto{
    display: none;
    margin: 10px;
    background-color: #C70039;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #0e364c;
  box-shadow: 0 0 3px 3px #090;
}

/* Radio Button FotosPrimerPerfil */
input[type=radio] + label>img {
  border: 0px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btno {
  border: 2px solid;
  border-color: #C70039;
  color: #C70039;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

#boto_enviar_primer_perfil{
    display: none;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#select_genere{
    width: 85%;
    margin: 0 auto;
}

/* ---------------------------------------------------
    APARTAT PERFIL
----------------------------------------------------- */

#div_foto{
    background-color: #0e364c;
    padding: 20px;
    border-radius: 10px;

}

#dadesConfiguracio{
    text-align: center;
}

#dadesUsuari{
    text-align: center;
}
.img_perfil2{
    width: 80%;
    height: auto;
    border: 2px solid white;
}
.img_perfil{
    width: 100%;
    height: auto;
    border: 2px solid white;
}

#perfil_cos{
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);
    font-size: 16px;
}

.datos{
    width: 100%;
    height: 140px;
}

#recuadre_foto_perfil{
    margin-top: 5%;
    padding-left: 0px;
    padding-right: 0px;

}

.img_subestacio{
    width: 30%;
    border: 2px solid ;
    margin-bottom: 10px;

}
.centrat{
    text-align: center;
    margin-top: 10px;
    border-left: 5px solid #0e364c;
    border-right: 5px solid #0e364c;
    background-color: #e5e5e5;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
}

.cos_dades{
    border: 2px dotted #0e364c;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-top: -14px;
    z-index: -1;
}

/* ---------------------------------------------------
    APARTAT BUSCAR PERFIL
----------------------------------------------------- */

.img_cercador{
    width: 40px;
    border-radius: 20px;
    margin-top: -5px;
}

.table-striped{
    text-align: center;
}

#filtrar{
    border: 2px solid #bf25ff;
    border-radius: 0px, 10px;
    height: 60px;
    font-size: 19px;
}
.input-group-addon{
    border: 2px solid #bf25ff;
    background-color: #bf25ff;
    font-size: 25px;
    color: white;
}

.ver_perfil{
    background-color: #bf25ff;
    color: white;
    border-radius: 5px;
    border: 2px solid #bf25ff;
}
th{text-align: center;
}

#taula_users{
    border-color: blue;
}
.td_usuari{
    border-bottom: 2px solid #bf25ff;
}

.img_sidebar{
    width: 40%;
    border-radius: 50%;
    margin-left: 10%;
    display: inline;
}

.h3_sidebar{
    display: inline;
    margin-left: 10%;
}

#div_botons{
    margin-top: 20px;
}

#btn_editarPerfil{
    background-color: rgb(14, 55, 77);
}
#btn_eliminarPerfil{
    background-color: #C70039;
    border-color: #C70039;
}
#btn_eliminarPerfil:hover{
    background-color: #BA0808;
}
#btn_editarPerfil:hover{
    background-color: #6d7fcc;
}

.table-striped tr{
    border-bottom: 2px solid #bf25ff !important;
}

.botons-usuaris{
    padding: 5px;
}

#cos_afegir_moda{
    margin-left: 18%;
}

.label_moda{
    width: 100%;
    text-align: center;

}

.div_upload_gran{
    margin-top: 15px;

}

#div_upload{
    width: 90%;
    margin-left: 5%;
}
#bt_upload{
    width: 100%;
}

#afegirModes_Cos{
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);
    font-size: 16px;
    margin-bottom: 10px;
}

#textarea{
    width: 90%;
    margin: 0 auto;
}

.textarea{
    width: 100%;
}

#boto_publicar{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
}

#rss_contingut{
    width: 10%;
}

.foto_rss{
    width: 70%;
    margin-left: 16%;
}

.h3_normal{
    text-align: center;
}

.img_subestacio_configuracio{
    width: 40%;
    border: 2px solid ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colors{
    border: 2px solid #0E364C;
    border-radius: 20px;
    margin: 10px;
    height: 80px;
}

#paleta_colors{
    background-color: red;
}

#boto_enviar_colors{
    width: 100%;
}

.colors-roba{
    border: 2px solid #0E364C;
    border-radius: 20px;
    margin: 10px;
    height: 30px;
    width: 30px;
}

.cos-roba{
    border-left: 5px solid #0e364c;
    border-right: 5px solid #0e364c;
    background-color: #e5e5e5;

    border-radius: 10px;
    margin: 10px;
    height: auto;
    text-align: center;
}

.titol-productes{
    margin-top: 10px;
}

.hr-productes{
    border: 2px solid #0e364c;
    margin-top: -5px;
}

.imatge-productes{
    width: 100%;
}

.comprar-bto{
    background-color: #0e364c;
    margin: 17px;

}

#quantitat{

}

.div_combinacio{
    border: 2px solid #0e364c;
    border-radius: 25px;
    margin-top:15px;
}

.combinacio{
    width: 20% !important;
    margin-left: 13%;
}

#myModal{
    margin-top: 50px;
    margin-left: 100px;

}

.btn_eliminarCombinacio{
    margin-top: 7px;
    float: right;
}

.btn_comprarCombinacio{
    margin-top: 10px;
    float: right;
    display: block;
}

.btn_guardarCombinacio{
    margin-top: 7px;
    float: right;
    display: block;
}

.cookies{
    text-align: justify;
}

.desactivat{
    border: 2px solid #FF0000;
    padding: 4px;
    border-radius: 25px;

}

.activat{
    border: 2px solid #05BB0B;
    padding: 4px;
    border-radius: 25px;
}

.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 0 auto;
  margin-bottom: 10px;

}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}

@media all and (max-width:768px){

    .navbar-inverse .drop_menu {display: block;visibility: visible;width: 110px;height:1000px;padding:0px 20px;position: absolute;right:-100px;
    transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}

    #botons-barra{
        position: fixed;
        z-index: 9999999;
        right: 0;
        display: inline;
        width: 155px;
        margin-top: 10px;

    }

    #myModal{
        margin-top: 50px;
        margin-left: 0px;

    }

    #panell_login{
        width: 75%;
    }

    #panell_registre{
        width: 75%;
    }

    a.menu { display:block !important;margin: 9px 2px;float: right;color: #00bcd4; border:0px solid; background:none; font-size:30px;width:27px;position: relative;
    cursor:pointer;}

    .drop_menu1 { display: block;visibility: visible;width:250px;height:1000px;padding:5px 30px;position: absolute;right:0 !important;
    background-color: #0e364c !important; transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;top: 50px;}

    #novetats_cos{
        position: relative;
        z-index: 2;
    }

    #cos_afegir_moda{
        margin-left: 0%;
    }

    .combinacio{
        width: 60% !important;
    }

}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #content{
        margin-left: calc(11% - 25px);
    }
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -190px !important ;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #dadesConfiguracio{
        margin-top: 10px;
    }
    #perfil_cos{
        margin-bottom: 25px;
    }
}
